* {
  box-sizing: border-box;
}

.title {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  color: orange;
}

.but {
  text-align: center;
}

.add-doggo {
  color: white;
  cursor: pointer;
  padding: 10px 30px;
  display: inline-block;
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.21);
  border-bottom: 4px solid rgba(0, 0, 0, 0.21);
  border-radius: 4px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
}

.add-doggo:active {
    background-color: black;
    opacity: 0.8;
}

.orange {
  background: rgba(255, 105, 30, 1);
  background: -webkit-gradient(
    linear,
    0 0,
    0 100%,
    from(rgba(255, 105, 30, 1)),
    to(rgba(230, 95, 28, 1))
  );
  background: -webkit-linear-gradient(
    rgba(255, 105, 30, 1) 0%,
    rgba(230, 95, 28, 1) 100%
  );
  background: -moz-linear-gradient(
    rgba(255, 105, 30, 1) 0%,
    rgba(230, 95, 28, 1) 100%
  );
  background: -o-linear-gradient(
    rgba(255, 105, 30, 1) 0%,
    rgba(230, 95, 28, 1) 100%
  );
  background: linear-gradient(
    rgba(255, 105, 30, 1) 0%,
    rgba(230, 95, 28, 1) 100%
  );
}

.large {
    padding: 15px 45px;
    font-size: 22px;
}
