* {
    box-sizing: border-box;
}

.calculator {
    width: 400px;
    height: 800px;
}

.screen {
    height: 10%;
    background-color: black;
    text-align: right;
    color: white;
    font-size: 40px;
    padding-top: 15px;
    padding-right: 10px;
}

.row {
    display: flex;
    justify-content: space-between;
    height: 10%
}

.bt {
    text-align: center;
    font-style: "monospace";
    border: 0.5% solid black;
    outline: none;
    width: 24.5%;
    margin-bottom: 0.5%;
    background-color: gray;
    font-size: 28px;
}

.bt:last-child {
    background-color: orange;
}

.half-quator {
    width: 50%;
}

.three-quator {
    width: 75%;
}